# All text files should have the "lf" (Unix) line endings:
* text=auto eol=lf

# Binary files:
*.ico binary
*.mo  binary
*.png binary

# Vendored dependencies:
**/assets/*.min.css linguist-vendored
**/assets/*.min.js  linguist-vendored
