{% extends 'common.html' %}
{% load i18n %}
{% block title %}{% translate 'readable' %} &ndash; {% translate 'About' %} &laquo;{{ document.realname }}&raquo;{% endblock %}
{% block content %}
<div class="card my-3 my-md-4">
  <div class="card-header text-center">{% translate 'Text Statistics' %}</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Sentences' %}&colon;</div>
        <div class="col">{{ document.metrics.sentences }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Words' %}&colon;</div>
        <div class="col">{{ document.metrics.words }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Letters' %}&colon;</div>
        <div class="col">{{ document.metrics.letters }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Syllables' %}&colon;</div>
        <div class="col">{{ document.metrics.syllables }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Flesch-Kincaid score' %}&colon;</div>
        <div class="col">{{ document.metrics.indexes.flesch_reading_ease_score | floatformat | default:0 }}&percnt;</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Automated readability index' %}&colon;</div>
        <div class="col">{{ document.metrics.indexes.automated_readability_index | floatformat | default:0 }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col text-truncate">{% translate 'Coleman-Liau index' %}&colon;</div>
        <div class="col">{{ document.metrics.indexes.coleman_liau_index | floatformat | default:0 }}</div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
