{% load i18n %}
{% now 'Y' as current_year %}
<footer class="container pb-2">
  <div class="row row-cols-1 row-cols-md-2">
    <span class="col text-muted text-center text-md-right">{% trans 'All rights reserved' %} &copy; 2020&ndash;{{ current_year }}</span>
    <span class="col text-muted text-center text-md-left">{% trans 'Proudly powered by' %} <a class="text-primary" href="https://djangoproject.com" target="_blank" data-toggle="tooltip" data-placement="top" title="{% trans 'Django Web Framework' %}" rel="nofollow">{% trans 'Django' %}</a></span>
  </div>
</footer>
