{% extends 'common.html' %}
{% load i18n %}
{% block title %}{% trans 'readable' %} &ndash; {% trans 'Sign In' %}{% endblock %}
{% block header %}{# empty header block #}{% endblock %}
{% block messages %}{# empty messages block #}{% endblock %}
{% block content %}
<div class="row align-items-center vh-100">
  <div class="col-md-5 mx-auto">
    <div class="card bg-light my-3 my-md-4">
      <h5 class="card-header text-center">{% trans 'Sign In' %}</h5>
      <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">{% trans "Your username and password didn't match. Please try again." %}</div>
        {% endif %}
        {% if next %}
          {% if user.is_authenticated %}
          <div class="alert alert-warning" role="alert">{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access." %}</div>
          {% else %}
          <div class="alert alert-warning" role="alert">{% trans 'Please login to see this page.' %}</div>
          {% endif %}
        {% endif %}
        <form method="POST" action="{% url 'login' %}" novalidate>
          <div class="input-group mb-3 mb-md-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ form.username.id_for_label }}"><i class="fas fa-user fa-fw"></i></span>
            </div>
            <input class="form-control" placeholder="{{ form.username.label }}" aria-label="{{ form.username.label }}" aria-describedby="{{ form.username.id_for_label }}" name="{{ form.username.name }}" autofocus>
          </div>
          <div class="input-group mb-3 mb-md-4">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ form.password.id_for_label }}"><i class="fas fa-lock fa-fw"></i></span>
            </div>
            <input class="form-control" type="password" placeholder="{{ form.password.label }}" aria-label="{{ form.password.label }}" aria-describedby="{{ form.password.id_for_label }}" name="{{ form.password.name }}">
          </div>
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <input class="btn btn-primary btn-block" type="submit" value="{% trans 'Confirm identity' %}">
        </form>
      </div>
      <div class="card-footer text-center">
        <small class="text-muted">{% trans "Don't have an account?" %}&nbsp;<a class="card-link" href="{% url 'registration' %}">{% trans 'Register now' %}</a></small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{# empty footer block #}{% endblock %}
