{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenAPI Specification",
    "version": "0.3.3",
    "contact": {
      "name": "Andrew Malchuk",
      "email": "andrew.malchuk@yandex.ru"
    },
    "license": {
      "name": "MIT License",
      "url": "https://choosealicense.com/licenses/mit"
    }
  },
  "servers": [
    {
      "url": "https://readable.pw/api",
      "description": "Public REST API"
    }
  ],
  "paths": {
    "/users/": {
      "post": {
        "description": "Concrete view for creating a user instance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/user_create"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/user_create"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/validation_error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuthentication": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "user_create": {
        "type": "object",
        "required": [
          "username",
          "password"
        ],
        "properties": {
          "username": {
            "type": "string",
            "minLength": 6,
            "maxLength": 50,
            "pattern": "^[a-zA-Z0-9]+$"
          },
          "password": {
            "type": "string",
            "writeOnly": true
          }
        }
      },
      "validation_error": {
        "type": "object",
        "minProperties": 1,
        "additionalProperties": {
          "type": "array",
          "minItems": 1,
          "items": {
            "type": "string"
          }
        }
      }
    }
  }
}
